.semidonut{
    --percentage: 0;
    --fill: #00FF00;
    width: 200px;
    height: 100px;
    position: relative;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing : border-box;
    &:after{
        content: '';
        width: 200px;
        height: 200px;
        border:25px solid;
        border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing : border-box;
        transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
        animation : fillAnimation 1s ease-in;
    }
}